#about {
  height: 100%;
  display: flex;
  flex-direction: column;


  .about-h2-container {
    
    margin-top: 2%;

    h2 {
      font-size: 50px;

    }
  }

  .about-content-container {
    margin: 0 40px;
    margin-bottom: 2%;


    p {
      font-size: 15px;

      a {
        color: #FB598C;
        text-decoration: none;
      }

      a:hover {
        color: #c90945;
      }

    }
  }

  .contact {

    margin-bottom: 5%;
  }

}

// ! DESKTOP/TABLET CSS
@media (min-width: 768px) {

  #about {

    //height: calc(100vh - 50px);
    justify-content: center;

    .about-h2-container {
      margin: 0 auto;

      h2 {
        font-size: 60px;
        margin-top: 2%;
      }
    }
  
    .about-content-container {
      margin: 2% 15% 2% 15%;
      text-align: justify;
      
      
      p {
        font-size: 16px;
      }
    }
  }

}