#contact {
  margin: 0;
  height: 100%;
  padding-bottom: 30px;


  .contact-h2-container {
    text-align: center;

    h2 {
      font-size: 20vw;
    }
  }

  .contact-info-container {
    //margin: 0 40px;
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
    }
  

    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      border-radius: 10px;
      padding: 5px;
      width: 105px;

      svg {
        margin: 0;
        margin-right: 5px;
      }

      p {
        margin: 0;
        font-size: 15px
      }
    }
  }
}

// ! DESKTOP/TABLET CSS
@media (min-width: 768px) {

  #contact {

    .contact-h2-container {

      h2 {
        font-size: 6vw;
        margin-bottom: 30px;
      }
    }


    .contact-info-container {

      .info {
        width: 140px;
      }

    }
  }



}