#hero {
  background-image: url('../../images/test.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 56px;
}

#profile-img-container {
  background-image: url('../../images/profile.jpeg');
  max-width: 300px;
}