#hero {
  background-image: url('../../images/test.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 56px;
}

.image-wrapper {
  max-width: 25%;


  img {
    width: 100%;
    border-radius: 50%;
    border: solid 2px white;
    box-shadow: 3px 3px 10px black;
  }

}

.hero-text-wrapper {
  max-width: 70%;
  text-align: center;

  h1 {
    font-size: 4vw;
    color: white;
    text-shadow: 3px 3px 2px black;
  }
}