#skills {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;


  .skills-h2-container {

    margin-top: 2%;

    h2 {
      font-size: 50px;

    }
  }

  .skills-content-container {

    margin-bottom: 2%;
    margin-top: 2%;


    .skills-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;

      .h3-col {
        margin-bottom: 10px;

        h3 {
          font-size: 25px;
        }
      }

      .skills-row-wrapper {
        text-align: center;
        flex-wrap: nowrap;
        overflow-x: scroll;

        div {

          p {
            font-size: 12px;
          }
        }
      }

      .skills-row-wrapper::-webkit-scrollbar {
        height: 2px;
        border-radius: 10px;
      }

      .skills-row-wrapper::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px black;
        border-radius: 10px;
      }

      .skills-row-wrapper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: solid;
        width: 30px;
      }

      
    }


  }

}

@media (min-width: 768px) {

  #skills {

    height: calc(100vh - 50px);
    justify-content: center;

    .skills-h2-container {
      // margin: 0 auto;

      h2 {
        font-size: 60px;
        margin-top: 2%;
      }
    }

    .skills-content-container {
      margin: 0 15%;
      text-align: justify;
      margin-top: 2%;

      p {
        font-size: 1.5vw;
      }
    }
  }

}

// ! DESKTOP/TABLET CSS
@media (min-width: 768px) {

  #skills {

    height: 100%;
    //justify-content: center;

    .skills-h2-container {
      margin: 0 auto;

      h2 {
        font-size: 60px;
        margin-top: 2%;
      }

    }

    .skills-content-container {
      margin: 2% auto;




    }
  }

}