@import './components/hero.scss';
@import './components/about.scss';
@import './components/skills.scss';
@import './components/projects.scss';
@import './components/contact.scss';
@import './components/navbar.scss';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
}



main {
  //height: 100vh;
  background-image: linear-gradient(to left bottom, #b16bd1, #c961bd, #d959a7, #e45590, #e85579, #f3606b, #fa6f5c, #fc804e, #ff9e44, #ffbe3e, #ffde41, #f4ff54);


  section {
    height: calc(100vh - 50px);
    background-color: white;
    //margin-bottom: 50vh;
  }

  .drip {
    width: 100%;
    margin-bottom: 20vh;
  }

  .wave {
    width: 100%;
  }

  
}

@media (min-width: 768px) {
  main {
    background-image: url('../images/test.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }

}