@import './components/hero.scss';
@import './components/about.scss';
@import './components/skills.scss';
@import './components/projects.scss';
@import './components/contact.scss';

* {
  box-sizing: border-box;
  margin: 0 auto;
}

main {
  //height: 100vh;
  background-image: url('../images/test.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  section {
    height: calc(100vh - 50px);
    background-color: white;
    margin-bottom: 50vh;
  }
}